<div class="leaderboard" ng-repeat="player in players | orderBy: '-points'">
  <div class="player" ng-click="selectPlayer(player,$index)" ng-class="{selected: player.id == selected}">
    <span class="name">{{player.name}}</span>
    <span class="score">{{player.points}}</span>
  </div>
</div>

<div class="details" ng-show="selected >= 0">
  <div class="name">{{player.name}}</div>
  <input type="button" class="inc" value="Give 5 points" ng:click="updatePlayer()" />
</div>

<div class="none" ng-hide="player">Click a player to select</div>
